


/* Enable scroll snapping for the scroll container and figures */
.muschi-scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
}

figure {
  width: 100%;
  background-color: rgba(255, 0, 0, 0.219);
  min-height: 100vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  padding: 2rem;
  scroll-snap-align: start;
}

.Muschi article {
  display: flex;
  justify-content: space-between;
}

.li_w_span {
  display: flex;  align-items: center; gap: 5px;
}

.Muschi span {
  background-color: rgb(76, 76, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1/1;
  font-weight: bold;
}