
.Muschi figure {
  width: 100%;
  background-color: rgba(255, 0, 0, 0);
  min-height: 110vh;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  padding: 2rem;
  margin-top: 50px;
}

.Muschi figure:nth-child(1){
  min-height: 100vh;
    margin-top: 0px;
}

.Muschi article {
  display: flex;
  justify-content: space-between;
}

.li_w_span {
  display: flex;  align-items: center; gap: 5px;
}

.Muschi span {
  background-color: rgb(76, 76, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1/1;
  font-weight: bold;
}