
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  color: white;
  z-index: 1000;
  padding: 0 10px;
}

.back-button{
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0);
  color: white;
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-left: 5px;
}

.back-button:hover {
  background-color: white;
  border: 2px solid rgba(255, 255, 255, 0.25);
  color: rgb(0, 0, 0);
}

.language-toggle {
  margin-left: auto;

  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.25);
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
  margin-right: 15px;
}

.language-toggle:hover {
  background-color: white;
  color: blue;
}