
.overlay-container *{
  pointer-events: none;
}

.overlay-container{
  position: relative;
}

.overlay-container article{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  max-width: 40%;
  margin: 30px 25px;
}

.overlay-container article h2{
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}

.overlay-container article p{
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 50px;
}

.overlay-container article button{
  position: absolute;
  pointer-events: auto;
  bottom: 0px;
  left: 0;
  background: linear-gradient(135deg, #4169e1, #8a2be2);
  background-size: 200% 200%;
  padding: 10px 50px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.overlay-container article button:hover{
  background-position: 100% 100%;
  cursor: pointer;
}

.overlay-container h2 ,.overlay-container p{
  background-color: rgba(255, 0, 0, 0);
}